body {
  padding: 50px;
  font: 14px;
  font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif !important;
}

a {
  color: red;
}

#brand {
  display: inline;
  height: 20px;
  width: auto;
  padding-right: 10px;
}

span {
  display: inline;
}

.book-img-wrap {
  margin-top: 25px;
  float: left;
  margin-right: 25px;
}

.book-img-wrap a {
  display: block;
}

.book-description {
  width: 75%;
  display: inline-block;
}

.book-description span {
  padding-right: 5px;
  padding-left: 5px;
  border-right: 1px solid black;
}

.book-description p {
  border: 1px black solid;
  padding: 10px;
}

.delete-book{
  border: none !important;
}

.clickRemGenre, .clickRemAuthor {
  margin-bottom: 5px !important;
}

.clickAddGenre, .clickAddAuthor {
   margin-left: 10px;
 }

#bookGenre, #bookAuthor{
  display: inline-block;
  width: 95%;
  margin-left: 3px;
}
