body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: red;
}

#brand {
  display: inline;
  height: 20px;
  width: auto;
}

span {
  display: inline;
}

.clickRemGenre {
  display: inline-block;
}
